<ul class="menu">
{% for subsite in site.data.menu %}
    {% if subsite.subcategories != null %}
    <li><a href="{{ subsite.href }}" class="page-link">{{ subsite.title }}</a>
    <ul class="sub-menu">
    {% for subcategory in subsite.subcategories %}
    <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
     <li><a href="{{ subsite.href }}" class="page-link">{{ subsite.title }}</a>
    {% endif %}
    </li>
    {% endfor %}
    </ul>
